<article class="review">
        <div class="review-icon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div class="review-content">
          <p class="class-title">
            <b>Class Code: </b> {{className}}
          </p>
          <p class="class-teacher">
            <b>Teacher: </b> {{teacher}}
          </p>
          <p class="class-grade">
            <b>Grade: </b> {{grade}}
          </p>
          <p class="class-recommend">
            <b>Rating: </b> {{#each rating}} <i class="fa fa-star"></i> {{/each}}
          </p>
          {{#if tags}}
          <p class="class-tags">
            <b>Class tags: </b> {{tags}}
          </p>
          {{/if}}
          {{#if comments}}
          <p class="class-comments">
            <b>Comments: </b> {{comments}}
          </p>
          {{/if}}
        </div>
      </article>
